backcall==0.1.0
boto3==1.9.28
botocore==1.12.28
certifi==2018.10.15
chardet==3.0.4
colorama==0.4.0
decorator==4.3.0
docutils==0.14
idna==2.7
imageio==2.4.1
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
jmespath==0.9.3
jupyter-client==5.2.3
jupyter-core==4.4.0
moviepy==0.2.3.5
numpy==1.15.2
parso==0.3.1
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.6
Pygments==2.2.0
python-dateutil==2.7.3
pytube==9.3.3
pyzmq==17.1.2
requests==2.20.0
s3transfer==0.1.13
simplegeneric==0.8.1
six==1.11.0
tornado==5.1.1
tqdm==4.27.0
traitlets==4.3.2
urllib3==1.26.5
wcwidth==0.1.7
wincertstore==0.2
